[flake8]
ignore = C901, E226, W504
max-line-length = 100
exclude = tests/* setup.py generators/generate_udp_protocol.py udp_protocol_dict.py tcp_protocol_class.py protos.py blueye/protocol/types/* build
max-complexity = 10
