[tool.poetry]
name = "blueye.protocol"
description = "Python protocol definition for the Blueye drones"
version = "2.7.0"
authors = ["Sindre Hansen <sindre.hansen@blueye.no>",
           "Johannes Schrimpf <johannes.schrimpf@blueye.no>",
           "Aksel Lenes <aksel.lenes@blueye.no>",
           "Alexander Vedeler <alexander.vedeler@blueye.no>",
          ]
license = "LGPL-3.0"
packages = [
    { include = "blueye" },
]
readme = "README.md"
repository="https://github.com/blueye-robotics/blueye.protocol"
homepage ="https://www.blueyerobotics.com"
keywords = ["Blueye", "Robotics", "Protocol"]

[tool.poetry.dependencies]
python = "^3.10"
numpy = { version = "^2.2" }
setuptools = ">=75.8"
proto-plus = "^1.25"

[tool.poetry.group.dev.dependencies]
Jinja2 = "^3.0"
pytest = "^8.3"
pytest-mock = "^3.14"
pytest-timeout = "^2.3"
invoke = "^2.1.1"
pytest-cov = "^6.0"
toml = "^0.10.0"
flake8 = "^7.1"
packaging = ">=24.0"

[tool.poetry.build]
generate-setup-file = true

[build-system]
requires = ["poetry>=2.0"]
build-backend = "poetry.masonry.api"
